<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Super Coder</title>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="../fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../css/Article-Clean.css">
    <link rel="stylesheet" href="../css/Beautiful-Time-Picker.css">
    <link rel="stylesheet" href="../css/opening-times-time-picker.css">
</head>

<body>
    <div id="content">
        <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
            <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                <h1>Super Coder</h1>
                <div class="d-none d-sm-block topbar-divider"></div><button class="btn btn-primary" type="button" style="margin-left: 0px;background: var(--success);border-color: var(--success);color: var(--light);">IDE</button>
                <form class="form-inline d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <div class="input-group-append"></div>
                    </div>
                </form><button class="btn btn-primary" type="button">Login</button><button class="btn btn-primary" type="button" style="color: var(--blue);background: var(--white);margin-left: 20px;">Sign Up</button>
            </div>
        </nav>
        <h1 style="font-size: 39px;text-align: center;color: var(--success);margin-bottom: 20px;"><strong>Create Course</strong></h1>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 align-self-center" style="width: 279px;">
                    <h1 style="font-size: 20px;width: 250px;margin-top: 14px;"><strong>Enter Course Code</strong></h1><textarea style="height: 30px;"></textarea>
                    <section class="article-clean">
                        <div class="container" style="width: 1000px;background: var(--white);">
                            <div class="intro"></div>
                        </div>
                    </section>
                    <h1 style="font-size: 20px;width: 250px;margin-top: 14px;"><strong>Enter Course Name</strong></h1><textarea style="height: 30px;"></textarea>
                </div>
                <div class="col align-self-center">
                    <h1 style="font-size: 20px;width: 250px;margin-top: 14px;"><strong>Enter Semester</strong></h1><textarea style="height: 30px;"></textarea>
                    <h1 style="font-size: 20px;width: 250px;margin-top: 14px;"><strong>Enter Batch</strong></h1><textarea style="height: 30px;"></textarea>
                    <div style="width:170px;box-shadow:0px 0px 4px 0px rgba(0,0,0,0.3);border-radius:4px;display:inline-block;position:relative;margin-right:40px;margin-bottom:40px;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-center align-self-start ml-auto"><button class="btn btn-primary text-left" type="button" style="margin-top: 15px;font-size: 20px;">Submit</button></div>
    </div>
    <script src="../js/jquery.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="../js/theme.js"></script>
</body>

</html>