<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Super Coder</title>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="../css/Article-Clean.css">
    <link rel="stylesheet" href="../css/Beautiful-Time-Picker.css">
    <link rel="stylesheet" href="../css/Highlight-Blue.css">
    <link rel="stylesheet" href="../css/opening-times-time-picker.css">
</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0"
            style="height: 700px;">
            <div class="container-fluid d-flex flex-column p-0"><a
                    class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>Super Coder</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">

                    <li class="nav-item"><a class="nav-link" href="/allblogs/1"><i
                                class="fas fa-table"></i><span>Blogs</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/createblog"><i class="fas fa-table"></i><span>Create
                                Blog</span></a></li>
                     <li class="nav-item"><a class="nav-link" href="/edittestlist"><i class="fas fa-table"></i><span>
                                Programming Tests</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/myproblems"><i class="fas fa-table"></i><span>
                                My Problems</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/addcourse"><i class="fas fa-table"></i><span>Add New
                                Course</span></a></li>
                    <li class="nav-item"><a class="nav-link active" href="/profile/professor"><i
                                class="fas fa-user"></i><span>Profile</span></a></li>
                                <li class="nav-item"><a class="nav-link" href="/ide"><i
                                    class="far fa-user-circle"></i><span>IDE</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/logout/professor"><i
                                class="far fa-user-circle"></i><span>Logout</span></a></li>

                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0"
                        id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
    <div id="content">
        <nav class="navbar navbar-light navbar-expand bg-white shadow  " style="width: 1100px;">
            <div class="container-fluid">
                <button class="btn btn-link d-md-none rounded-circle mr-12" id="sidebarToggleTop" type="button">
                    <i class="fas fa-bars">

                    </i>
                    </button>
                <h1>Super Coder</h1>
                
                </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-md-4" style="width: 500px;">
                    <h1 style="color: var(--success);font-size: 30px;margin-top: 20px;"><strong>Upcoming Tests</strong></h1>
                    {{#contestList}}
                    <ul class="list-group">
                        <li class="list-group-item"><a href = "/edittest/{{Test_Id}}"><span>{{Title}}</span></a></li>                        
                    </ul>
                    {{/contestList}}
                </div>
                <div class="col">
                    <section class="highlight-blue">
                        <div class="container">
                            <div class="intro">
                                <h2 class="text-center">Add New Test</h2>
                            </div>
                            <div class="buttons"><a class="btn btn-primary" role="button" href="/addtest">New TEST</a></div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="../js/theme.js"></script>
</body>

</html>