<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>IDE - Super Coder</title>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css"> 
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="../fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="../css/Article-Clean.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0"
            style="height: 200px;">
            <div class="container-fluid d-flex flex-column p-0" style="height: 700px;"><a
                    class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>Super Coder</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">

                    <li class="nav-item"><a class="nav-link" href="/allblogs/1"><i class="fas fa-table"></i><span>Blogs</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/createblog"><i class="fas fa-table"></i><span>Create Blog</span></a></li>
                   
               
                    <li class="nav-item"><a class="nav-link" href="/testlist"><i
                                class="fas fa-table"></i><span>Programming Tests</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/profile"><i
                                class="fas fa-user"></i><span>Profile</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/ide"><i
                                class="fas fa-table"></i><span>IDE</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/logout"><i
                                class="far fa-user-circle"></i><span>Logout</span></a></li>

                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0"
                        id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div class="row">
                    <div class="col-md-6" style="text-align: left; margin-left:130px">
                        <h1 class="text-dark" style="margin-bottom: 10px;font-size: 20px;"><strong>Title: {{testTitle}}</strong></h1>
                        <h3 class="text-dark " style="margin-bottom: 10px;font-size: 20px;"><strong class="testId">Test ID: {{testId}}</strong></h3>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="container" style="margin-left: 0px;padding-left: 0px;width: 900px;padding-right: 0px;height: 60px;color: var(--blue);background: var(--blue);border-color: var(--blue);">
                                <div class="row">
                                    
                                    <div class="col align-self-center" style="width: 150px;">
                                        <div class="dropdown col-md-12" style="text-align: center;">
                                            {{!-- <button class="btn btn-primary dropdown-toggle" aria-expanded="false" data-toggle="dropdown" type="button" style="width: 150px;color: var(--white);background: var(--success);padding-right: 0px;font-size: 18px;">
                                                Dropdown </button> --}}
                                                 <select class="form-control Language-selector dropdown-toggle" id="language-selector" name="select1" id="select1">
                                                    <option value="1">Select Language</option>
                                                    <option value="52">C++ (GCC 7.4.0)</option>
                                                    <option value="48">C (GCC 7.4.0)</option>
                                                    <option value="62">Java (OpenJDK 13.0.1)</option>
                                                    <option value="71">Python (3.8.1)</option>
                                                    <option value="63">JavaScript (Node.js 12.14.0)</option>
                                                    <option value="46">Bash</option>
                                                </select>
                                           
                                        </div>
                                    </div>
                                    <div class="col" style="height: 60px;width: 10px;">
                                        <div style="background: var(--pink);color: var(--pink);"></div>
                                    </div>
                                    <div class="col align-self-center"><strong style="color: var(--light);font-size: 18px;width: 200px;">Problem Id:</strong></div>
                                    <div class="col"><input class="problemId" value="{{problemId}}" disabled type="text" style="height: 30px;margin-top: 20px;margin-bottom: 20px;width: 100px;"></div>
                                </div>
                            </div><textarea id="code" class="flex-grow-1" style="width: 900px;height: 500px;"></textarea>
                            <div class="btn-group" role="group"></div>
                        </div>
                        <div class="col" style="width: 100px;">
                            <h1 style="color: var(--success);font-size: 25px;"><strong>Input</strong></h1>
                            <textarea id="sample_in"  style="height: 100px;"></textarea>
                            <h1 style="font-size: 25px;color: var(--success);margin-top: 20px;">
                                <strong>Output</strong></h1>
                                <textarea id="sample_out" > </textarea>
                            <div class="btn-group" role="group"><button id="run" class="btn btn-primary" type="button" style="margin-right: 10px;margin-top: 30px;">Run</button><button class="btn btn-primary submitSolution" type="button" style="margin-top: 30px;margin-left: 10px;">Submit</button></div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Super Coder 2021</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="../js/jquery.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <script src="../js/chart.min.js"></script>
    <script src="../js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="../js/theme.js"></script>
      <script src="../js/submit.js"> </script>
</body>

</html>